.Filter__input {
  margin-top: 0px;
  width: 150px;
}
.Filter {
  margin-top: 0px;
  margin-right: 5px;
}

.Filter__text {
  font-weight: 600;
}

.Filter__block {
  max-width: 350px;
  font-size: 18px;
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
