.Filter__input {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 165px;
}
.Filter {
  margin-top: 0px;
  margin-right: 5px;
}

.Filter__text {
  font-weight: 600;
}

.Filter__block {
  width: 360px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  border: 1px solid #1976d2;
  padding: 10px;
  border-radius: 5px;
}
