@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Fira Sans', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2,
h1 {
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 15px;
}
