.ContactList {
  width: 360px;
  border: 1px solid #1976d2;
  padding: 10px;
  margin-top: 0;
  border-radius: 8px;
}

.ContactList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContactList__text {
  margin: 0;
  margin-right: 10px;
}

.ContactList_find {
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: 0;
  font-weight: 600;
}
